@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "bootstrap.css";

:root{
    --color1: #F9F6F0;
    --color2: #D69A24;
    --color3: #306658;
    --color4: #633615;
    --color5: #999CA5;
    --color-gris-claro: #CCCCCC;
    --color-gris-oscuro: #444444;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
}
/* Footer-------------------------------- */
#main-footer{
    background-color: var(--color-gris-oscuro);
    color: var(--color-gris-claro);
    padding: 45px 0;
}
/* Footer
-------------------------------------------------------------- */
#footer {
    position: relative;
    padding: 78px 0 40px 0;
    overflow: hidden;
}

#footer.footer-style01{
    background: url(../img/footer/img-ng-footer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-footer {
    text-align: center;
    margin-bottom: 75px;
    margin-top: 2px;
}

#footer .widget .widget-title{
    color: #fff;
}

/* Footer content  */
.form-subscribe-footer{
    position: relative;
    display: block;
}

.form-subscribe-footer input{
    border: none;
    outline: none;
    background-color: #fff;
    padding: 14px 30px;
}
.form-subscribe-footer input{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 32px;
    color: #1D1D1D;
}

.form-subscribe-footer button{
    font-size: 20px;
    color: #ffffff;
    display: inline-block;
    border: none;
    outline: none;
    padding: 6px 21px 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -8px;
    transition: all 500ms ease;
    height: 100%;
    background-color: #c8a96a;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-subscribe-footer button:hover{
    background-color: #c19977 ; 
}

.tf-footer-inner .widget .widget-title{
    margin-bottom: 18px;
}

.tf-footer-inner .widget.widget-contact .widget-title{
    margin-bottom: 25.5px;
}

.tf-footer-inner .widget.widget-Newsletters .widget-title{
    margin-bottom: 22px;
}

.widget-Facilities{
    padding-left: 13px
}

.widget-Newsletters{
    padding-left: 59px
}

.widget.widget-Newsletters p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 32px;
    margin-bottom: 27px;
    color: rgba(255,255,255,0.6);
}

.widget-contact{
  padding-left: 153px
}

.widget-footer .widget-title{
    margin-bottom: 18px;
}
.widget-contact.widget-footer .widget-title{
    margin-bottom: 25.5px;
}

.widget-Newsletters.widget-footer .widget-title{
    margin-bottom: 22px;
}

.widget.widget-contact li{
    line-height: 32px;
    position: relative;
    display: flex;
    padding-bottom: 10px;
    padding-left: 31.5px;
}

/*footer contact */
.widget.widget-contact .adress::before,
.widget.widget-contact .mail::before,
.widget.widget-contact .phone::before,
.widget.widget-contact .clock::before{
     font-family: "Font Awesome 5 Pro";
    color: #c8a96a;
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    left: 2px;
    top: 4px;
}

.widget.widget-contact .clock::before{
    top: 1px;
}

.widget.widget-contact .clock{
    margin-top: 3px;
    padding-left: 34px;
}

/* footer-style02 */
#footer.footer-style02{
    background-color: #fff;
    padding: 75px 0 0 0;
}

.footer-style02 .iconbg1,
.footer-style02 .iconbg2,
.footer-style02 .iconbg3,
.footer-style02 .iconbg4{
    position: absolute;
}

.footer-style02 .iconbg1{
    top: 4.4%;
    left: 4.8%;
}

.footer-style02 .iconbg2{
    top: 72%;
    left: 2.8%;
}

.footer-style02 .iconbg3{
    top: 5.8%;
    right: 6.2%;
}

.footer-style02 .iconbg4{
    top: 60%;
    right: 4%;
}

.footer-style02 .Copyright p,
.footer-style02 .widget.widget-Newsletters p,
.footer-style02 .Copyright, 
.footer-style02 .widget ul li, 
.footer-style02 .widget ul li a{
    color: #666666;
}

#footer .Copyright p a:hover{
    color: #666666;
}

#footer .Copyright p a,
#footer .widget ul li a:hover{
    color: #c8a96a;
}

#footer.footer-style02 .widget .widget-title {
    color: #1D1D1D;
}

.footer-style02 .form-subscribe-footer input {
    padding: 13px 30px;
    border: 1px solid rgba(29,29,29,0.1);
}

.footer-style02 .wrap-scroll {
    margin-top: 63px;
}

.footer-style02 #bottom {
    transform: translateY(0px);
}

.footer-style02 .tf-bottom-inner {
    padding: 22px 0;
}

/* footer-style03 */
#footer.footer-style03{
    background-color: #090C0F;
    padding: 78px 0 38px 0;
}
.newsletters-subscribe{
    border: 2px solid rgba(255,255,255,0.07);
    padding: 48px 78px 48px 78px;
    margin-bottom: 74px;
}
.newsletters-subscribe .title{
    margin-top: 3px;
    margin-bottom: 0;
    width: 38%;
    color: #ffffff;
    text-transform: uppercase;
}

.newsletters-subscribe .wrap-form-subscibe{
    width: 62%;
}

.newsletters-subscribe .wrap-form-subscibe form{
    width: 100%;
    position: relative;
}

.widget.widget-infor .widget_socials li a{
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.4);
}

#footer .widget.widget-infor .widget_socials li a.active,
#footer .widget.widget-infor .widget_socials li a:hover{
    background-color: #c19977;
    color: #fff;
}
.form-subscribe-footer2 input:focus,
.form-subscribe-footer2 input{
    width: 64%;
    margin-right: 40px;
    margin-left: 10px;
    padding: 6px 15px 3px 0;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgba(255,255,255,0.07);
    font-family: 'Open Sans', sans-serif;
}

.form-subscribe-footer2 input:focus{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border-bottom: 2px solid rgba(255,255,255,0.07);
    padding: 6px 15px 3px 0;
}
.form-subscribe-footer2 input:focus,
.form-subscribe-footer2 input::placeholder{
    color: #ffffff;
}

.form-subscribe-footer2 .tf-button {
    padding: 9px 55px 10px 34px;
    position: absolute;
    right: 0;
}
.form-subscribe-footer2 .tf-button.color-style1{
    background-color: #c19977;
}
.widget-infor #site-logo3{
    margin-top: 3px;
    margin-bottom: 18px;
}

.widget-infor .sub-heading-style2{
    padding-right: 20px;
    color: rgba(255,255,255,0.5);
    margin-bottom: 8px;
}

.footer-style03 .widget-about{
    padding-left: 65px;
}

.footer-style03 .widget-Facilities{
    padding-left: 75px;
    margin-right: -10px;
}

.footer-style03 .widget-contact {
    padding-left: 104px;
    padding-right: 0;
}

.footer-style03 .widget ul li a{
    line-height: 42px;
}

.footer-style03 #scroll-top{
    transform: translateY(-40px);
    left: 49.3%;
}

/* bottom */
#bottom{
    overflow: hidden;
    transform: translateY(-1px);
    z-index: 11;
    position: relative;
    width: 100%;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.footer-style02 #bottom{
    border-top: 1px solid rgba(9,12,15,0.07);
}

.Copyright .res{
    padding-right: 0px;
}

.Copyright p,
.Copyright p a{
    color: rgba(255,255,255,0.6);
}

.Copyright p a:hover{
    color: #c8a96a;
}

.Copyright p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 32px;
}

#bottom .Copyright{
    float: left;
}
  
.tf-bottom-inner .widget.widget_socials{
    margin-top: -9px;
    float: right;
}

.tf-bottom-inner{
    padding: 25px 0;
}

.footer-style02 .widget_socials li a{
    background-color: rgba(182,140,90,0.1);
    color: rgba(29, 29, 29, 0.5);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer-style02 .widget_socials li a.active,
.footer-style02 .widget_socials li a:hover{
    background-color: #c8a96a;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer-style02 #scroll-top {
    transform: translateY(-36px);
}

#footer .bottomstyle3 .bottom-content p a{color: #c19977;}
.bottomstyle3 .bottom-content span{
    color: #A8A8A8;
}

.bottomstyle3 ul{
    float: right;
    margin-top: -1px;
    margin-right: -1px;
}

.bottomstyle3 ul li{
    display: inline-block;
}

.bottomstyle3 ul li a{
    color: #A8A8A8;
    font-family: open sans,sans-serif;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
}

.bottomstyle3 ul li a:hover{
    color: #c8a96a;
}

.footer-style03 #bottom {
    transform: translateY(5px);
}

.footer-style03  .tf-bottom-inner {
    padding: 20px 0;
}

/* Scroll Top
-------------------------------------------------------------- */
.wrap-scroll {
    display: flex;
    justify-content: center;
    z-index: 9;
    margin-top: 62px;
    width: 100%;
    position: relative;
    z-index: 15;
}

#scroll-top {
    display: block;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    z-index: 3;
    text-align: center;
    transform: translateY(-33px);
    width: 100px;
    height: 100px;
}

#scroll-top img{
    width: 80px;
    height: 96px;
}

#scroll-top:hover img{
    transform: scale(0.9);

}

#scroll-top,
#scroll-top img,
#scroll-top {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}




/* Footer-------------------------------- */
.padded{
    background-color: var( --color1);
    padding-top: 90px;
    padding-bottom: 90px;
}
.carousel-indicators [data-bs-target]{
    height: 20px;
    width: 20px;
}
.container{
    max-width: 1600px;
    background-color: var(--color1);
}
#reseña h3{
    text-align: center;
}
h2{
    padding-bottom: 40px;
    text-align: center;
}
h3{
    text-align: center;
}
.material-symbols-outlined{
   text-align: center;
   margin-left: 110px;

    
}
#reseña p{
    text-align: center;
}

.img-responsive{
    border-radius: 50%;
    transition: all 0.3s ease;
}

.cubiertos{
    transition: all 0.3s ease;
}
.platos{
    margin-top: 200px;
    margin-bottom: 200px;

    display: block;
    width: 100%;
    text-align: center;
    display: flex;

}