@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "bootstrap.css";

:root{
    --color1: #F9F6F0;
    --color2: #D69A24;
    --color3: #306658;
    --color4: #633615;
    --color5: #999CA5;
    --color-gris-claro: #CCCCCC;
    --color-gris-oscuro: #444444;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
}
#main-footer{
    background-color: var(--color-gris-oscuro);
    color: var(--color-gris-claro);
    padding: 45px 0;
}
.padded{
    background-color: var( --color5);
    padding-top: 90px;
    padding-bottom: 90px;
}
.carousel-indicators [data-bs-target]{
    height: 20px;
    width: 20px;
}
.container{
    max-width: 1600px;
    background-color: var(--color1);
}
#reseña h3{
    text-align: center;
}
h2{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
<<<<<<< HEAD

}
h3{
    text-align: center;
}
.material-symbols-outlined{
   text-align: center;
   margin-left: 110px;

    
}
#reseña p{
    text-align: center;

=======
}
.material-symbols-outlined{
 text-align: center;
>>>>>>> d74d35b8fa901fde02196c5da9fef4cc6cf29579
}