@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "bootstrap.css";

*{
    font-family:'Open Sans' -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif
}
:root{
    --color1: #F9F6F0;
    --color2: #D69A24;
    --color3: #306658;
    --color4: #633615;
    --color5: #999CA5;
    --color-gris-claro: #CCCCCC;
    --color-gris-oscuro: #444444;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
}
/* Footer-------------------------------- */
#main-footer{
    background-color: var(--color-gris-oscuro);
    color: var(--color-gris-claro);
    padding: 45px 0;
}
/* Footer
-------------------------------------------------------------- */
#footer {
    position: relative;
    padding: 78px 0 40px 0;
    overflow: hidden;
}

#footer.footer-style01{
    background: url(../img/footer/img-ng-footer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-footer {
    text-align: center;
    margin-bottom: 75px;
    margin-top: 2px;
}

#footer .widget .widget-title{
    color: #fff;
}


/* bottom */
#bottom{
    overflow: hidden;
    transform: translateY(-1px);
    z-index: 11;
    position: relative;
    width: 100%;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.footer-style02 #bottom{
    border-top: 1px solid rgba(9,12,15,0.07);
}

.Copyright .res{
    padding-right: 0px;
}

.Copyright p,
.Copyright p a{
    color: rgba(255,255,255,0.6);
}

.Copyright p a:hover{
    color: #c8a96a;
}

.Copyright p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 32px;
}

#bottom .Copyright{
    float: left;
}
  
.tf-bottom-inner .widget.widget_socials{
    margin-top: -9px;
    float: right;
}

.tf-bottom-inner{
    padding: 25px 0;
}

.footer-style02 .widget_socials li a{
    background-color: rgba(182,140,90,0.1);
    color: rgba(29, 29, 29, 0.5);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer-style02 .widget_socials li a.active,
.footer-style02 .widget_socials li a:hover{
    background-color: #c8a96a;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer-style02 #scroll-top {
    transform: translateY(-36px);
}

#footer .bottomstyle3 .bottom-content p a{color: #c19977;}
.bottomstyle3 .bottom-content span{
    color: #A8A8A8;
}

.bottomstyle3 ul{
    float: right;
    margin-top: -1px;
    margin-right: -1px;
}

.bottomstyle3 ul li{
    display: inline-block;
}

.bottomstyle3 ul li a{
    color: #A8A8A8;
    font-family: open sans,sans-serif;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
}

.bottomstyle3 ul li a:hover{
    color: #c8a96a;
}

.footer-style03 #bottom {
    transform: translateY(5px);
}

.footer-style03  .tf-bottom-inner {
    padding: 20px 0;
}

/* Scroll Top
-------------------------------------------------------------- */
.wrap-scroll {
    display: flex;
    justify-content: center;
    z-index: 9;
    margin-top: 62px;
    width: 100%;
    position: relative;
    z-index: 15;
}

#scroll-top {
    display: block;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    z-index: 3;
    text-align: center;
    transform: translateY(-33px);
    width: 100px;
    height: 100px;
}

#scroll-top img{
    width: 80px;
    height: 96px;
}

#scroll-top:hover img{
    transform: scale(0.9);

}

#scroll-top,
#scroll-top img,
#scroll-top {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Footer-------------------------------- */
.padded{
    background-color:var(--color1);
    padding-top: 90px;
    padding-bottom: 90px;
}
.carousel-indicators [data-bs-target]{
    height: 20px;
    width: 20px;
}
.container{
    max-width: 1600px;
    background-color: var(--color1);
}
.container-fluid .col-6{
    color: red;
}
#reseña h3{
    text-align: center;
}
h2{
    padding-bottom: 40px;
    text-align: center;
}
h3{
    text-align: center;
}
.material-symbols-out lined{
   text-align: center;
   margin-left: 110px;
}

#categorias .col{
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 40px;
    padding-right: 4s0px;
    text-align: center;
    color: var(--color2);
    background-color: var(--color-blanco);
}
#menu-iconos{
    display: inline;
}
#reseña p{
    text-align: center;
}

#platos img{
    transition: all 0.3s ease;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/*.img-responsive{
    border-radius: 50%;
    transition: all 0.3s ease;
}

.cubiertos{
    transition: all 0.3s ease;
}
.platos{
    margin-top: 200px;
    margin-bottom: 200px;

    display: block;
    width: 100%;
    text-align: center;
    display: flex;

}*/